@model IEnumerable<WebApplicationFinal.Models.Account>
@{
    ViewBag.Title = "MyMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            jQuery(document).ready(function ($) {
                $(".clickable-row").click(function () {
                    window.location = $(this).data("href");
                });
            });
        </script>
    </head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h2>MyMessages</h2>
<br />
<h3>your sent messages</h3>
<table class="table table-hover">
    <tr>


        <th>message ID</th>
        <th>subject</th>

    </tr>
    @foreach (var detail in ViewBag.sent)
    {

        <tr class='clickable-row' data-href='@Url.Action("MyMessages", "Account", new { ams = @detail.message_ID })'>
                <td><div class="message_nr"> @detail.message_ID </div>  </td>
                <td> <div class="subject">@detail.subject</div>  </td>
        </tr>

    }



    

</table>
    <h3>Answared</h3>



    <table class="table table-hover">
        <tr>
            <th>admin</th>
            <th>username</th>
            <th>message ID</th>
            <th>subject</th>
            <th>feedback answare</th>
        </tr>
        @foreach (var detail in ViewBag.answared)
        {
            <tr>

                <td><div class="admin"> @detail.admin </div></td>
                <td><div class="user"> @detail.user</div></td>
                <td><div class="message_id"> @detail.message_ID </div></td>
                <td><div class="subject">@detail.subject</div></td>
                <td><div class="message">@detail.feedback_text</div></td>
            </tr>

        }
    </table>
