@model IEnumerable<WebApplicationFinal.Models.Account>
@{
    ViewBag.Title = "ShowAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/Styles/MyAccount.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


<form action="EditAccount" method="POST">
    @foreach (var details in ViewBag.list1)
    {
        
    <fieldset>
        <h3>Change account details</h3>
        <div class="form-group row">
            <label for="staticusername" class="col-sm-2 col-form-label">username</label>
            <div class="col-sm-10">
                <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="@details.Name">
            </div>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="Password" class="form-control" value="@details.Password" id="exampleInputPassword1" placeholder="Password">
        </div>
       
        <div class="form-group">
            <label for="staticity">City</label>
            <select class="form-control" id="location" name="location">
                @foreach (var detail in ViewBag.locationList)
                {
                    <option value="@detail.city">@detail.city</option>
                }
            </select>
        </div>

            <div class="form-group">
                <label for="exampleInputEmail">E-mail</label>
                <input type="text" name="email" class="form-control" value="@details.email" id="exampleInputemail1">
            </div>


            <div class="form-group">
                <label for="exampleInputfullname1">Full Name</label>
                <input type="text" name="full_name" class="form-control" value="@details.full_name" id="exampleInputfull_name1">
            </div>
            <div class="form-group">
                <label for="exampleInputCity1">Phone number</label>
                <input type="number" name="phone_NR" class="form-control" value="@details.phone_NR" id="exampleInputphone_NR1">
            </div>

    </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
   
        }
</form>


   