@model IEnumerable<WebApplicationFinal.Models.ExploreClass>

<head>
    <script src="~/Scripts/Slideshow.js"></script>
    <link rel="stylesheet" type="text/css" href="../Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="../Content/Frontpage.css" />
    <script src="~/Scripts/Slideshow.js"></script>
    <link rel="stylesheet" href="bower_components/css-star-rating/dist/css/star-rating.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <head />

    <body>
        <div class="slider" id="main-slider">
            <!-- outermost container element -->
            <div class="slider-wrapper">
                <!-- innermost wrapper element -->
                <img src="~/Photos/forest-dark.jpg" alt="First" class="slide" /><!-- slides -->
                <img src="~/Photos/norway-sunset.jpg"alt="Seccond" class="slide"  />
                <img src="~/Photos/norway-island.jpg" alt="Third" class="slide" />
            </div>
        </div>



        @{ try
            {

                if (Request.Cookies["UserCookie"].Expires < DateTime.Now)
                {

                    if (Enumerable.Any(ViewBag.ExploreClass))
                    {

                        <h1>Recommended trips for you</h1>
                        <div id="main">

                            <div class="trips-container">

                                @foreach (var details in ViewBag.ExploreClass)
                                {

                                    int counter = 0;
                                    int i = 0;
                                    int resultat = 0;


                                    <a href='@Url.Action("Trip", "Explore", new { ams= @details. trip_id})'>
                                        <div class="card border-primary mb-3" style="max-width: 20rem;">

                                            <div class="card-body">
                                                @foreach (var detail in ViewBag.listImage)
                                                {
                                                    if (@detail.img_ID == @details.trip_id)
                                                    {
                                                        <img style="height: 200px; padding:-20px; width: 100%; display: block;" src="data:image;base64,@System.Convert.ToBase64String(detail.image)" />
                                                        break;
                                                    }
                                                }
                                                <h4 class="card-title"> @details.trip_name</h4>
                                                <p class="card-text description module"> @details.description</p>
                                            </div>
                                            <div class="card-footer text-muted">
                                                @details.length
                                                @details.difficulty
                                                @foreach (var detail in ViewBag.listTag)
                                                {
                                                    if (details.trip_id == detail.idtag.ToString())
                                                    {
                                                        @detail.tagname
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </a>
                                }

                                @foreach (var det in ViewBag.recommendCity)
                                {
                                    foreach (var details in ViewBag.ExploreClass)
                                    {

                                        if (det.trip_id == details.trip_id)
                                        {
                                            break;
                                        }

                                    }




                            <a  href='@Url.Action("Trip", "Explore", new { ams = @det.trip_id })'>
                                <div class="card border-primary mb-3" style="max-width: 20rem;">
                                    <div type="submit" name="valg" style="cursor: pointer;">
                                        <div class="card-body">
                                            @foreach (var detail in ViewBag.listImage)
                                            {
                                                if (@detail.img_ID == @det.trip_id)
                                                {
                                                    <img style="height: 200px; padding:-20px; width: 100%; display: block;" src="data:image;base64,@System.Convert.ToBase64String(detail.image)" />
                                                    break;
                                                }
                                            }
                                            <h4 class="card-title"> @det.trip_name</h4>
                                            <p class="card-text description module"> @det.description</p>
                                        </div>
                                        <div class="card-footer text-muted">
                                            @det.length
                                            @det.difficulty
                                            @foreach (var detail in ViewBag.listTag)
                                            {
                                                if (det.trip_id == detail.idtag.ToString())
                                                {
                                                    @detail.tagname
                                                }
                                            }
                                        </div>
                                    </div>

                                </div>
                                </a>

                                }





                            </div>
                        </div>

                    }


                }
            }
            catch (NullReferenceException) { }
        }


        <h1>Trips</h1>

        <div id="main">
            <div class="trips-container">



                @foreach (WebApplicationFinal.Models.ExploreClass details in Model)
                {
                    <a href='@Url.Action("Trip", "Explore", new { ams= @details. trip_id})'>
                        <div class="card border-primary mb-3" style="max-width: 20rem;">

                            <div class="card-body">
                                @foreach (var detail in ViewBag.listImage)
                                {
                                    if (@detail.img_ID == @details.trip_id)
                                    {
                                        <img style="height: 200px; padding:-20px; width: 100%; display: block;" src="data:image;base64,@System.Convert.ToBase64String(detail.image)" />
                                        break;
                                    }
                                }
                                <h4 class="card-title"> @details.trip_name</h4>
                                <p class="card-text description module"> @details.description</p>
                            </div>
                            <div class="card-footer text-muted">
                                @details.length
                                @details.difficulty
                                @foreach (var detail in ViewBag.listTag)
                                {
                                    if (details.trip_id == detail.idtag.ToString())
                                    {
                                        @detail.tagname
                                    }
                                }
                            </div>
                        </div>
                    </a>
                }
            </div>
    </body>
