<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <script src="~/Scripts/navaccount.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="UTF-8">
   
</head>

<body>

   
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">TipsForTrips</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Explore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Account/Login">Log in</a>
                </li>
            </ul>
            @{ string cookievalue;
                if (Request.Cookies["UserCookie"].Value != null)
                {

                    cookievalue = Request.Cookies["UserCookie"].Value.ToString();
                    @cookievalue

                    <div class="dropdownmenu">

                        <button onclick="btnToggle()" class="dropbutton">
                            Account
                        </button>

                        <div id="Dropdown" class="dropdownmenu-content">
                            
                            <asp:HyperLink class="a" ID="HyperLink2"
                                           runat="server" href="#">Log out
                            </asp:HyperLink>
                             
                                <a onclick="logOut()" href="#">Sign out</a>
                                <a href="#HTML">My Account</a>
                                <a href="#CSS">My taggs</a>
                                </div>
                    </div>
                }
                else
                {

                }
            }




            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
