<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/navbar.css" rel="stylesheet" />
    <script src="~/Scripts/navaccount.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="UTF-8">
   
</head>

<body>

   
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/Home/Index">TipsForTrips</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" href="../Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Map">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Explore">Explore</a>
                </li>
                @{ try
                    {
                        if (Request.Cookies["UserCookie"] == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Account/Login">Log in</a>
                            </li>
                        }
                    }
                    catch (NullReferenceException) { }
                }
            </ul>
            @{ try
                {


                    if (Request.Cookies["UserCookie"].Expires < DateTime.Now)
                    {


                    <div class="dropdownmenu">

                        <div class="account">
                        <button onclick="btnToggle()" class="btn btn-secondary" >
                            Account
                        </button>
                         </div>
                        <div id="Dropdown" class="dropdownmenu-content">
                            <a href="/Account/LogOut">Sign out</a>
                            <a href="/Account/MyAccount">My Account</a>
                            <a href="#CSS">My taggs</a>
                        </div>
                    </div>
                            }
                        }
                catch (NullReferenceException) { }
                }
           
           



            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
