@model IEnumerable<WebApplicationFinal.Models.ExploreClass>
    @{ 
    ViewBag.Title = "Explore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Scripts/Explore.js"></script>

<link href="~/Styles/explore.css" rel="stylesheet" />
<div class="container-page">


    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="filter">
            <h2>Filter</h2>
            @using (Html.BeginForm("TripSearch", "Explore", FormMethod.Post))
            {
                

                    <label class="col-form-label" for="trip_area">Area</label>
                    <input type="text" class="form-control" placeholder="area" id="area" name="area">
                    <label class="col-form-label" for="tags">Tags</label>
                    <input type="text" class="form-control" placeholder="tags" id="tags" name="tags">
                    <label class="col-form-label" for="difficulty">Difficulty</label>
                    <div class="diff">
                        <div class="btn-group" role="group" aria-label="Basic example">


                            @Html.RadioButton("diff", "Easy", false, new { @class = "btn btn-secondary"})
                            @Html.RadioButton("diff", "Medium", false, new { @class = "btn btn-secondary"})
                            @Html.RadioButton("diff", "Hard", false, new{ @class = "btn btn-secondary"})
                        </div>
                    </div>
                    <button type="reset" value="reset" class="btn btn-secondary">Reset</button>
                    <button type="submit" value="submit" class="btn btn-secondary">Search</button>


               
            }
            </div>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>


    <div id="main">
        <div class="trips-container">
            



                @foreach (var details in ViewBag.list1)
                {
            <a class="trips" href='@Url.Action("Trip", "Explore", new { ams= @details.area_ID_area})'>
                <div type="submit" name="valg" style="cursor: pointer;">

                    <img src="data:image;base64,@System.Convert.ToBase64String(details.image)" />
                    <div class="areaid">  @details.area_ID_area</div>
                    <p class="description module">  @details.description</p>
                   <div class="at">
                    <div class="type_of_trip">  @details.type_of_trip</div>
                    <div class="length_of_trip">  @details.length_of_trip</div>
                    <div class="difficulty">  @details.difficulty</div>
                       </div>
                </div>
                </a>

                }


         
</div>
    </div>
</div>
