@model IEnumerable<WebApplicationFinal.Models.ExploreClass>
@{
    ViewBag.Title = "Explore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Explore</h2>

<div class="trips-container"></div>
    @foreach (WebApplicationFinal.Models.ExploreClass details in Model)
    {
        

        <div class="trips">
          <div class="area">  @details.area</div>
          <div class="areaid">  @details.area_ID_area</div>
          <div class="type_of_trip">  @details.type_of_trip</div>
          <div class="length_of_trip">  @details.length_of_trip</div>
          <div class="difficulty">  @details.difficulty</div>
          <div class="description">  @details.description</div>
         <div class="location">@details.location</div>
          <div class="attraction_website">  @details.attraction_website</div>
          <div class="image">  @details.image</div>
        </div>

    }

