@model IEnumerable<WebApplicationFinal.Models.ExploreClass>
@{
    ViewBag.Title = "Explore";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Explore</h2>

<table>
    <tr>
        <th>area</th>
        <th>area_ID_area</th>
        <th>type_of_trip</th>
        <th>length_of_trip</th>
        <th>difficulty</th>
        <th>description</th>
        <th>location</th>
        <th>attraction_website</th>
        <th>image</th>
    </tr>
    @foreach (WebApplicationFinal.Models.ExploreClass details in Model)
    {
<tr>
    <td>@details.area</td>
    <td>@details.area_ID_area</td>
    <td>@details.type_of_trip</td>
    <td>@details.length_of_trip</td>
    <td>@details.difficulty</td>
    <td>@details.description</td>
    <td>@details.location</td>
    <td>@details.attraction_website</td>
    <td>@details.image</td>
</tr>

    }
</table>
