@model IEnumerable<WebApplicationFinal.Models.Account>
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="~/Styles/MyAccount.css" rel="stylesheet" />

@if (ViewBag.spesificInbox.Count == 0)
{

<h2>Message</h2>
<h3>Feedback sent</h3>
<table class="table table-hover">
    <tr>


        <th>Subject</th>
        <th>Question</th>

    </tr>
    @foreach (var detail in ViewBag.spesificOutbox)
    {

<tr>
    <td> <div class="subject">@detail.subject</div>  </td>
    <td><div class="message">@detail.feedback_text</div></td>
</tr>

    }

</table>

}
else
{

<h3>Response from admin</h3>



<table class="table table-hover">
    <tr>
        <th>Admin</th>
        <th>Subject</th>
        <th>Message</th>
    </tr>
    @foreach (var detail in ViewBag.spesificInbox)
    {
        <tr>

            <td><div class="admin"> @detail.admin </div></td>
            <td><div class="subject">@detail.subject</div></td>
            <td><div class="message">@Html.Raw(@detail.feedback_text)</div></td>
        </tr>

    }
</table>
}